.matrix-input {
    width: 2ch;
    border: none;

    font-size: .7em;
    font-family: "Monomaniac One";
    color: $green-color;
    text-align: center;


    padding: 0;
    margin-right: 3px;

    &:focus {
        border: none;
        outline: none;
    }
    
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; 
    }
}


.empty {
    background-color: rgba($color: $red-color, $alpha: .5);
    caret-color: $red-color;
}

.full {
    background-color: rgba($color: $green-color, $alpha: .5);
    caret-color: $green-color;
}
